In [20]:
import pandas as pd

df = pd.read_csv('DataScientist.csv')

In [21]:
df.head(5)

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1
1,1,1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1
2,2,2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,True
3,3,3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1
4,4,4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1

In [22]:
df.shape

(3909, 17)

In [23]:
df = df[df['Salary Estimate']!='-1']

In [24]:
df.shape

(3909, 17)

In [26]:
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [27]:
df['hourly'] = df['Salary Estimate'].apply(lambda x:1 if 'per hour' in x.lower() else 0 )

In [28]:
df['employer_provided'] = df['Salary Estimate'].apply(lambda x:1 if 'employer provided salary' in x.lower() else 0)

In [29]:
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [30]:
minus_kd = salary.apply(lambda x: x.replace('K','').replace('$',''))

In [35]:
minus_kd.value_counts()

93-151            62
113-180           61
71-122            60
111-175           60
119-147           44
                  ..
39-71              7
99-173             6
146-175            3
10-26 Per Hour     3
41-74              1
Name: Salary Estimate, Length: 148, dtype: int64

In [36]:
min_hr = minus_kd.apply(lambda x: x.lower().replace('per hour',''))

In [37]:
min_hr.value_counts()

93-151      62
113-180     61
71-122      60
111-175     60
119-147     44
            ..
34-53        7
99-173       6
146-175      3
10-26        3
41-74        1
Name: Salary Estimate, Length: 148, dtype: int64

In [38]:
df.columns

Index(['Unnamed: 0', 'index', 'Job Title', 'Salary Estimate',
       'Job Description', 'Rating', 'Company Name', 'Location', 'Headquarters',
       'Size', 'Founded', 'Type of ownership', 'Industry', 'Sector', 'Revenue',
       'Competitors', 'Easy Apply', 'hourly', 'employer_provided'],
      dtype='object')

In [39]:
df['minimum_salary'] = min_hr.apply(lambda x:int(x.split('-')[0]))

In [40]:
df['maximum_salary'] = min_hr.apply(lambda x:int(x.split('-')[1]))

In [41]:
df.columns

Index(['Unnamed: 0', 'index', 'Job Title', 'Salary Estimate',
       'Job Description', 'Rating', 'Company Name', 'Location', 'Headquarters',
       'Size', 'Founded', 'Type of ownership', 'Industry', 'Sector', 'Revenue',
       'Competitors', 'Easy Apply', 'hourly', 'employer_provided',
       'minimum_salary', 'maximum_salary'],
      dtype='object')

In [42]:
df.info

<bound method DataFrame.info of       Unnamed: 0  index                                          Job Title  \
0              0      0                              Senior Data Scientist
1              1      1                  Data Scientist, Product Analytics
2              2      2                               Data Science Manager
3              3      3                                       Data Analyst
4              4      4                             Director, Data Science
...          ...    ...                                                ...
3904        3904   4375                                  AWS Data Engineer
3905        3905   4376                              Data Analyst â Junior
3906        3906   4377                   Security Analytics Data Engineer
3907        3907   4378                   Security Analytics Data Engineer
3908        3908   4379  Patient Safety Physician or Safety Scientist -...

                   Salary Estimate  \
0     $111K-$181K (Glassdoor est.)
1     $111K-$181K (Glassdoor est.)
2     $111K-$181K (Glassdoor est.)
3     $111K-$181K (Glassdoor est.)
4     $111K-$181K (Glassdoor est.)
...                            ...
3904   $55K-$112K (Glassdoor est.)
3905   $55K-$112K (Glassdoor est.)
3906   $55K-$112K (Glassdoor est.)
3907   $55K-$112K (Glassdoor est.)
3908   $55K-$112K (Glassdoor est.)

                                        Job Description  Rating  \
0     ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...     3.5
1     At Noom, we use scientifically proven methods ...     4.5
2     Decode_M\n\nhttps://www.decode-m.com/\n\nData ...    -1.0
3     Sapphire Digital seeks a dynamic and driven mi...     3.4
4     Director, Data Science - (200537)\nDescription...     3.4
...                                                 ...     ...
3904  About Us\n\nTachyon Technologies is a Digital ...     4.4
3905  Job description\nInterpret data, analyze resul...     5.0
3906  Job DescriptionThe Security Analytics Data Eng...     3.8
3907  The Security Analytics Data Engineer will inte...     4.0
3908  Help us transform patients' lives.\nAt UCB, we...     3.7

                               Company Name       Location      Headquarters  \
0                               Hopper\n3.5   New York, NY  Montreal, Canada
1                              Noom US\n4.5   New York, NY      New York, NY
2                                  Decode_M   New York, NY      New York, NY
3                     Sapphire Digital\n3.4  Lyndhurst, NJ     Lyndhurst, NJ
4           United Entertainment Group\n3.4   New York, NY      New York, NY
...                                     ...            ...               ...
3904              Tachyon Technologies\n4.4     Dublin, OH        Irving, TX
3905  Staffigo Technical Services, LLC\n5.0   Columbus, OH     Woodridge, IL
3906                    PDS Tech, Inc.\n3.8     Dublin, OH        Irving, TX
3907        Data Resource Technologies\n4.0     Dublin, OH         Omaha, NE
3908                               UCB\n3.7     Slough, OH  Brussel, Belgium

                         Size  ...  Type of ownership  \
0       501 to 1000 employees  ...  Company - Private
1      1001 to 5000 employees  ...  Company - Private
2           1 to 50 employees  ...            Unknown
3        201 to 500 employees  ...  Company - Private
4         51 to 200 employees  ...  Company - Private
...                       ...  ...                ...
3904     201 to 500 employees  ...  Company - Private
3905      51 to 200 employees  ...  Company - Private
3906  5001 to 10000 employees  ...  Company - Private
3907        1 to 50 employees  ...  Company - Private
3908  5001 to 10000 employees  ...   Company - Public

                       Industry                     Sector  \
0               Travel Agencies           Travel & Tourism
1     Health, Beauty, & Fitness          Consumer Services
2                            -1                         -1
3                      Internet     Information Technology
4       Advertising & Marketing          Business Services
...                         ...                        ...
3904                IT Services     Information Technology
3905                IT Services     Information Technology
3906     Staffing & Outsourcing          Business Services
3907                 Accounting         Accounting & Legal
3908  Biotech & Pharmaceuticals  Biotech & Pharmaceuticals

                         Revenue               Competitors Easy Apply hourly  \
0       Unknown / Non-Applicable                        -1         -1      0
1       Unknown / Non-Applicable                        -1         -1      0
2       Unknown / Non-Applicable                        -1       True      0
3       Unknown / Non-Applicable      Zocdoc, Healthgrades         -1      0
4       Unknown / Non-Applicable  BBDO, Grey Group, Droga5         -1      0
...                          ...                       ...        ...    ...
3904    $10 to $25 million (USD)                        -1         -1      0
3905   $50 to $100 million (USD)                        -1         -1      0
3906  $100 to $500 million (USD)                        -1         -1      0
3907  Less than $1 million (USD)                        -1         -1      0
3908      $2 to $5 billion (USD)                    AbbVie         -1      0

      employer_provided  minimum_salary  maximum_salary
0                     0             111             181
1                     0             111             181
2                     0             111             181
3                     0             111             181
4                     0             111             181
...                 ...             ...             ...
3904                  0              55             112
3905                  0              55             112
3906                  0              55             112
3907                  0              55             112
3908                  0              55             112

[3909 rows x 21 columns]>

In [43]:
df['average_salary'] = (df['minimum_salary']+df['maximum_salary'])/2

In [44]:
df.columns

Index(['Unnamed: 0', 'index', 'Job Title', 'Salary Estimate',
       'Job Description', 'Rating', 'Company Name', 'Location', 'Headquarters',
       'Size', 'Founded', 'Type of ownership', 'Industry', 'Sector', 'Revenue',
       'Competitors', 'Easy Apply', 'hourly', 'employer_provided',
       'minimum_salary', 'maximum_salary', 'average_salary'],
      dtype='object')

In [45]:
df['Company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating'] <0 else x['Company Name'][:-3],axis=1)

In [46]:
df

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,...,Sector,Revenue,Competitors,Easy Apply,hourly,employer_provided,minimum_salary,maximum_salary,average_salary,Company_txt
0,0,0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,...,Travel & Tourism,Unknown / Non-Applicable,-1,-1,0,0,111,181,146.0,Hopper\n
1,1,1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,...,Consumer Services,Unknown / Non-Applicable,-1,-1,0,0,111,181,146.0,Noom US\n
2,2,2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,...,-1,Unknown / Non-Applicable,-1,True,0,0,111,181,146.0,Decode_M
3,3,3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,...,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1,0,0,111,181,146.0,Sapphire Digital\n
4,4,4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,...,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1,0,0,111,181,146.0,United Entertainment Group\n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3904,3904,4375,AWS Data Engineer,$55K-$112K (Glassdoor est.),About Us\n\nTachyon Technologies is a Digital ...,4.4,Tachyon Technologies\n4.4,"Dublin, OH","Irving, TX",201 to 500 employees,...,Information Technology,$10 to $25 million (USD),-1,-1,0,0,55,112,83.5,Tachyon Technologies\n
3905,3905,4376,Data Analyst â Junior,$55K-$112K (Glassdoor est.),"Job description\nInterpret data, analyze resul...",5.0,"Staffigo Technical Services, LLC\n5.0","Columbus, OH","Woodridge, IL",51 to 200 employees,...,Information Technology,$50 to $100 million (USD),-1,-1,0,0,55,112,83.5,"Staffigo Technical Services, LLC\n"
3906,3906,4377,Security Analytics Data Engineer,$55K-$112K (Glassdoor est.),Job DescriptionThe Security Analytics Data Eng...,3.8,"PDS Tech, Inc.\n3.8","Dublin, OH","Irving, TX",5001 to 10000 employees,...,Business Services,$100 to $500 million (USD),-1,-1,0,0,55,112,83.5,"PDS Tech, Inc.\n"
3907,3907,4378,Security Analytics Data Engineer,$55K-$112K (Glassdoor est.),The Security Analytics Data Engineer will inte...,4.0,Data Resource Technologies\n4.0,"Dublin, OH","Omaha, NE",1 to 50 employees,...,Accounting & Legal,Less than $1 million (USD),-1,-1,0,0,55,112,83.5,Data Resource Technologies\n
3908,3908,4379,Patient Safety Physician or Safety Scientist -...,$55K-$112K (Glassdoor est.),"Help us transform patients' lives.\nAt UCB, we...",3.7,UCB\n3.7,"Slough, OH","Brussel, Belgium",5001 to 10000 employees,...,Biotech & Pharmaceuticals,$2 to $5 billion (USD),AbbVie,-1,0,0,55,112,83.5,UCB\n

In [47]:
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1])

In [48]:
df['job_state']

0        NY
1        NY
2        NY
3        NJ
4        NY
       ...
3904     OH
3905     OH
3906     OH
3907     OH
3908     OH
Name: job_state, Length: 3909, dtype: object

In [51]:
df.job_state.value_counts()

 TX                1253
 CA                1069
 IL                 363
 PA                 324
 NY                 313
 AZ                 295
 OH                 177
 FL                  69
 NJ                  32
 DE                  10
 United Kingdom       4
Name: job_state, dtype: int64

In [52]:
df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis=1)

In [53]:
df.same_state.value_counts()

0    2692
1    1217
Name: same_state, dtype: int64

In [56]:
df['age'] = df.Founded.apply(lambda x: x if x<1 else 2020-x)

In [61]:
df['Job Description'][0]

'ABOUT HOPPER\n\nAt Hopper, we’re on a mission to make booking travel faster, easier, and more transparent. We are leveraging the power that comes from combining massive amounts of data and machine learning to build the world’s fastest-growing travel app -- one that enables our customers to save money and travel more. With over $235M CAD in funding from leading investors in both Canada and the US, Hopper is primed to continue its path toward becoming the go-to way to book travel as the world continues its shift to mobile.\n\nRecognized as the fastest-growing travel app by Forbes and one of the world’s most innovative companies by Fast Company two years in a row, Hopper has been downloaded over 40 million times and has helped travelers plan over 100 million trips and counting. The app has received high praise in the form of mobile accolades such as the Webby Award for Best Travel App of 2019, the Google Play Award for Standout Startup of 2016 and Apple’s App Store Best of 2015.\n\nTake off with us!\n\nTHE ROLE\n\nHopper is looking for a data-savvy individual to join our team as a Data Scientist and lead data-centric product development and complex business intelligence projects within our core air travel business unit. Every day you would draw powerful insights from our real-time feed of billions of flight search results and archives of several trillion data points. To succeed at Hopper you need the talent, passion, and experience to thrive in a highly performing company.\nIN THIS ROLE YOU WILL:\nFrame and conduct complex exploratory analyses needed to deepen our understanding of Hopper users.\nPartner with product, business and strategy teams to leverage this user understanding for product improvements and other initiatives\nUse machine learning and big data tools on tremendously large and complex data sets to enhance our data-driven, personalized travel advice\nConduct research into various aspects of our business and employ statistical and modeling techniques when appropriate to make recommendations to non-technical stakeholders\nCreate advanced dashboards for product experiment tracking and business unit performance analysis using Amplitude and Tableau\nFind effective ways to simplify and communicate analyses to a non-technical audience.\nA PERFECT CANDIDATE HAS:\nA degree in Math, Statistics, Computer Science, Engineering or other quantitative disciplines\nExtremely strong analytical and problem-solving skills\nProven ability to communicate complex technical work to a non-technical audience\nA strong passion for and extensive experience in conducting empirical research and answering hard questions with data\nExperience with a data visualization tool (Tableau preferred) and project analysis tool such as Amplitude\nExperience with relational databases and SQL, especially Hive\nExperience working with extremely large data sets\nExperience in Pandas, R, SAS or other tools appropriate for large scale data preparation and analysis\nExperience with data mining, machine learning, statistical modeling tools and underlying algorithms\nProficiency with Unix/Linux environments\nBENEFITS\n\n• Well-funded and proven startup with large ambitions, competitive salary and stock options\n• Dynamic and entrepreneurial team where pushing limits is everyday business\n• 100% employer paid medical, dental, vision, disability and life insurance plans\n• Access to a 401k (US) or Retirement Savings Plan (Canada)'

In [62]:
df['skill_python'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

In [63]:
df['skill_python']

0       0
1       1
2       1
3       1
4       1
       ..
3904    0
3905    0
3906    1
3907    1
3908    0
Name: skill_python, Length: 3909, dtype: int64

In [65]:
df['skill_r'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() else 0)

In [69]:
df['skill_r'].value_counts()

0    3892
1      17
Name: skill_r, dtype: int64

In [70]:
df['skill_spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)

In [71]:
df['skill_spark'].value_counts()

0    3012
1     897
Name: skill_spark, dtype: int64

In [72]:
df['skill_sas'] = df['Job Description'].apply(lambda x: 1 if 'sas' in x.lower() else 0)
df['skill_excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

In [73]:
df['skill_excel'].value_counts()

0    2054
1    1855
Name: skill_excel, dtype: int64

In [74]:
df['skill_sas'].value_counts()

0    3372
1     537
Name: skill_sas, dtype: int64

In [75]:
df.columns

Index(['Unnamed: 0', 'index', 'Job Title', 'Salary Estimate',
       'Job Description', 'Rating', 'Company Name', 'Location', 'Headquarters',
       'Size', 'Founded', 'Type of ownership', 'Industry', 'Sector', 'Revenue',
       'Competitors', 'Easy Apply', 'hourly', 'employer_provided',
       'minimum_salary', 'maximum_salary', 'average_salary', 'Company_txt',
       'job_state', 'same_state', 'age', 'skill_python', 'skill_r',
       'skill_spark', 'skill_sas', 'skill_excel'],
      dtype='object')

In [77]:
df = df.drop(['Unnamed: 0'],axis=1)

In [78]:
df.columns

Index(['index', 'Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply', 'hourly', 'employer_provided', 'minimum_salary',
       'maximum_salary', 'average_salary', 'Company_txt', 'job_state',
       'same_state', 'age', 'skill_python', 'skill_r', 'skill_spark',
       'skill_sas', 'skill_excel'],
      dtype='object')

In [79]:
df.to_csv('salary_data_clean.csv',index=False)